.main
    background: rgb(104,255,0)
    background: linear-gradient(225deg, rgba(104,255,0,1) 0%, rgba(91,205,12,1) 8%, rgba(81,168,22,1) 18%, rgba(77,151,26,1) 28%, rgba(69,120,34,1) 47%, rgba(62,94,40,1) 73%, rgba(51,51,51,1) 100%)
    color: white
    height: 100vh
    display: flex
    justify-content: space-between
    overflow: hidden
    position: relative


.navSidebar
    background-color: transparent
    border-color: white
    border-width: 20px
    width: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    overflow: hidden
    z-index: 1
    

.positionSubPages
    position: relative

.nav
    display: flex
    flex-direction: column
    height: 30vh
    justify-content: space-around
            
.char
    font-size: 2.5rem
    display: inline-block
    transition: 1s
    &:hover
        color: 	#68ff00
        transform: translateY(-20px)
        
